loan-view-table {
    display: grid
}

loan-view-tbody {
    display: grid
}

loan-view-tr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
}