.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  font-size: 1.5em
}

.form-element {
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul {
  font-size: 1.5em;
}