.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: #2E3637;
  color: #FFFFFF;
  width: 100%;
  border-bottom: 3px solid #FADE4B;
  text-align: center;
}

#loan-view {
  margin: 1em;
}

#car-view {
  margin: 1em;
}

.form {
  display: flex;
  font-size: 1.3em
}

.form-element {
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.form-element input {
  padding: 4px;
  border-style: none;
  border-radius: 4px;
  font-size: 14px;
}

.form-element select {
  font-size: 14px;
  border-style: none;
}

ul {
  font-size: 1.5em;
}

.loan-btn {
  background: linear-gradient(to bottom, #12b447, #10a140);
  color: #FFFFFF;
  padding: 0.5em;
  font-size: 14px;
  border-radius: 5px;
  font-weight: bold;
}

#form-btn {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 0.5em;
}